@import "tailwindcss";

@theme {
  --font-sans: "Malgun Gothic", "Apple SD Gothic Neo", sans-serif;
}

@layer base {
  html,
  body {
    min-height: 100%;
    min-height: 100dvh;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 30px 0;
    user-select: none;
    overflow-x: hidden;
  }
}
